.home-section {
  background-color: rgb(6, 6, 10);
  height: 100%;
  width: 100vw;
  display: flex;
  justify-content: left;

}

.heroPage {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.contact-link {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  padding: 390px 0;
  position: fixed;
}

.contact-link a i {
  font-size: 20px;
  margin: 10px;
  color: rgba(229, 229, 229, 0.192);
}

.contact-link i:hover {
  transform: scale(1.1);
  color: rgba(204, 87, 87, 0.534);
}

.container {
  display: flex;
  flex-direction: column;
  margin-left: 120px;
  padding: 150px 0;
}

.welcome {
  font-family: 'Noto Sans JP', sans-serif;
  color: #EA5455;
  font-size: 13px;
}

.dev-name {
  margin: 0;
}

h1 {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 3.3em;
  letter-spacing: 1px;
  color: rgb(225, 225, 243);
}

h2 {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 2.2em;
  margin: 0;
  /* width: 90%; */
  color: rgba(222, 205, 195, 0.603);
}

.dev-about {
  width: 100%;
}

.sub-title p {
  font-family: 'Microsoft JhengHei', sans-serif;
  font-size: 14px;
  color: rgba(222, 205, 195, 0.603);
}

.sub-title {
  padding: 15px 0;
  width: 60%;
}

.mailLink {
  padding: 20px 0;
}

.mailLink a {
  font-family: 'Noto sans jp', sans-serif;
  border: 1.3px solid #EA5455;
  width: 50%;
  padding: 15px 30px;
  text-decoration: none;
  font-size: 14px;
  border-radius: 4px;
  color: rgb(226, 226, 226);
}

.mailLink :hover {
  background: #d5494909;
}

@media (max-width: 978px) {
  .contact-link {
    display: none;
  }
}

@media (max-width: 670px) {
  h1 {
    font-size: 3em;
  }

  h2 {
    font-size: 2em;
  }

  .sub-title {
    width: 80%;
  }

  .container {
    margin: 40px;
  }

  .social-btn {
    cursor: pointer;
    height: 25px;
    width: 25px;
  }

  svg {
    height: 15px;
    width: 15px;
  }

  .social-btn span {
    font-size: 12px;
  }
}

@media (max-width: 520px) {
  .container {
    /* padding: 80px 0; */
  }

  .sub-title {
    /* padding: 0; */

    /* margin-right: 300px; */
  }

  h1 {
    font-size: 2.3em;
    /* margin-left: 20px; */
  }

  h2 {
    font-size: 1.5em;
    /* width: 120px; */
  }
}