.projects {
  height: 100%;
  width: 100vw;
  background-color: rgb(6, 6, 10);
}

.wrap {
  width: 100%;
  margin-left: 100px auto;
  overflow: hidden;
}

.ProjectTitle h4 {
  color: rgba(220, 220, 250, 0.301);
  letter-spacing: 2.5px;
  margin-top: 80px;
  margin-bottom: 0px;
  margin-left: 118px;
}

.wrap ul {
}

.wrap ul li {
  float: left;
  list-style: none;
  width: 25%;
  height: 400px;
  /* background-color: rgba(14, 14, 26, 0.548); */
  background: linear-gradient(0deg, rgb(10, 10, 17) 40%, rgb(239, 76, 1) 800%);
  margin: 0px 0 20px 78px;
}

.wrap ul li .project-wrapper:hover {
}

.wrap ul li .project-wrapper {
  width: 100%;
  color: rgb(225, 225, 243);
  margin-left: 30px;
  line-height: 30px;
}

.project-wrapper {
  margin: 180px 0 0 0;
}

.project-wrapper h3 {
  font-family: 'Noto sans JP', sans-serif;
  font-size: 1.875rem;
  margin: 10px 0;
  padding: 5px 0;
  width: 90%;
}

.project-wrapper p {
  font-size: 0.7rem;
  font-family: 'Microsoft JhengHei', sans-serif;
  margin: 5px 0;
  color: rgba(220, 220, 250, 0.658);
}

.github-link {
  text-decoration: none;
  display: flex;
  margin: 50px 30px;
}

.github-link i {
  color: rgba(220, 220, 250, 0.658);
  font-size: 20px;
  margin-right: 20px;
}

.github-link i span {
  font-family: 'Microsoft JhengHei', sans-serif;
  font-size: 0.68rem;
  font-weight: bold;
  margin-left: 5px;
}

@media screen and (max-width: 1080px) {
  .wrap ul li {
    width: 32%;
  }
}

@media screen and (max-width: 978px) {
  .ProjectTitle h4 {
    margin-left: 80px;
  }

  .wrap ul li {
    width: 35%;
    height: 390px;
    margin: 6%;
  }

  .project-wrapper {
    margin: 190px 0 0 0;
  }

  .project-wrapper h3 {
    padding: 0;
  }

  .github-link {
    font-size: 12px;
  }
}

@media screen and (max-width: 625px) {
  .ProjectTitle h4 {
    margin-top: 40px;
    margin-left: 50px;
  }

  .wrap ul li {
    width: 85%;
    height: 180px;
    /* margin: 4% 0; */
    margin-left: 10px;
  }

  .project-wrapper {
    margin: 25px 0 0 0;
  }

  .project-wrapper h3 {
    font-size: 1.25rem;
    margin: 0;
  }

  .project-wrapper h3 {
    padding: 0;
  }

  .github-link {
    margin: 30px 30px;
  }

  .github-link i {
    margin-right: 20px;
    font-size: 15px;
  }
}
