.about-section {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: rgb(9, 9, 10);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.about {
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgba(15, 15, 17, 0.973);
    box-shadow: 3px 3px #d54a49;
    transition: ease-in-out 2s;
    width: 60%;
    height: 70%;
}


.aboutImg img {
    /* width: 65%; */
    width: 250px;
    margin: 0;
    margin-right: 40px;
    margin-left: 30px;
}

.aboutImg {
    margin-left: 0;
}


.aboutDetails {
    margin: 20px;
    margin-left: 0px;

}

.aboutDetails .title {
    padding: 10px 0 10px 0;
    text-align: left;

}

.contactlink {
    display: none;
    visibility: hidden;
}

.aboutDetails p {
    font-family: 'Noto sans jp', sans-serif;
    font-size: 15px;
    color: rgba(246, 245, 245, 0.616);

}

.aboutDetails h2 {
    transition: ease-in-out 1s;
    font-family: 'Noto sans JP', sans-serif;
    color: rgb(255, 255, 255);
    text-align: left;
    font-size: 20px;
    margin: 0;
}


.infoDetails p {
    font-family: 'Microsoft JhengHei', sans-serif;
    font-size: 13px;
    text-align: left;
    color: rgba(246, 245, 245, 0.616);
    padding: 0 0 5px 0;
    margin-right: 20px;

}

.infoDetails {
    padding: 0;
    width: 100%;
}

.aboutInfo {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.contactDetails i {
    margin: 5px 0;
    font-size: 13px;
    color: #d54a49;
}

.contactDetails {
    padding: 0;
}

.contactDetails p {
    font-family: 'Microsoft JhengHei', sans-serif;
    font-size: 13px;
    margin: 0 10px;
    color: rgba(246, 245, 245, 0.616);
    padding: 0;
}

.location {
    display: flex;
    flex-direction: row;
    margin: 5px 0;
}

.contactDetails a {
    font-family: 'Microsoft JhengHei', sans-serif;
    font-size: 13px;
    margin: 10px;
    color: rgba(246, 245, 245, 0.616);
    text-decoration: none;
}



@media (max-width: 978px) {

    .about {
        /* padding-top: 90px; */
        background: none;
        box-shadow: none;
        width: 100%;
        flex-direction: row;
        text-align: center;
        justify-content: center;

    }

    img {
        max-width: 200px;
    }

    .aboutImg img {
        margin-right: 30px;
        margin-left: 70px;
        box-shadow: 3px 3px #d54a49;
        /* transition: ease-in-out 2s; */
    }

    br {
        display: none;
    }


    .aboutDetails {
        /* text-align: center;
        justify-content: center; */
        margin-left: 50px;
    }

    .infoDetails p {
        text-align: left;
        margin-right: 50px;

    }

    .aboutDetails .title {
        text-align: left;

    }

    .aboutDetails h2 {
        font-size: 16px;
        margin: 0;
        text-align: left;
    }

    .contactlink a i {
        padding: 10px 0;
        margin-right: 10px;
        font-size: 15px;
        color: rgb(56, 56, 58);
    }

    .contactlink {
        display: flex;
        visibility: visible;
    }
}

@media (max-width: 700px) {
    .about {
        flex-direction: column;
        padding-top: 90px;

    }


    .aboutImg img {
        width: 150px;
        transition: none;
    }
}

/* 

 {

    .about {
        padding-top: 90px;
        background: none;
        box-shadow: none;
        width: 60%;
        flex-direction: column;
        text-align: center;
        justify-content: center;

    }

    br {
        display: none;
    }

    img {}

    .aboutImg img {
        padding-top: 250px;


    }

    .aboutDetails {
        text-align: center;
        justify-content: center;
    }

    






    .aboutDetails p {
        font-size: 12px;
    }

    


    .infoDetails p {
        font-family: 'Microsoft JhengHei', sans-serif;
        font-size: 13px;
        text-align: left;
        color: rgba(246, 245, 245, 0.616);
        padding: 0 0 5px 0;
        margin-right: 20px;

    }

    .infoDetails {
        padding: 0;
        width: 100%;
    }

    .aboutInfo {
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        text-align: left;
    }

    .contactDetails i {
        margin: 5px 0;
        font-size: 13px;
        color: #d54a49;
    }

    .contactDetails {
        padding: 0;
    }

    .contactDetails p {
        font-family: 'Microsoft JhengHei', sans-serif;
        font-size: 13px;
        margin: 0 10px;
        color: rgba(246, 245, 245, 0.616);
        padding: 0;
    }
} */