.contact-section {
  background-color: rgb(6, 6, 10);
  width: 100vw;
  height: 100vh;
  text-align: center;
  /* align-items: center; */
  /* justify-content: center; */
}

.contactTitle h4 {
  color: rgba(220, 220, 250, 0.301);
  letter-spacing: 2.5px;
  margin-top: 90px;
  margin-bottom: 0px;
  font-size: 0.86rem;
}

.contactInfo {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: calc(100vh - 42px);
}

.contactInfo h3 {
  color: rgb(225, 225, 243);
  font-size: 2rem;
  margin: 10px 0;
}

.contactInfo p {
  color: rgba(220, 220, 250, 0.658);
  font-family: 'Rubik', sans-serif;
  margin: 10px 50px;
  font-size: 0.80rem;
}

.contactLink {
  padding: 20px 0;
}

.contactLink a {
  font-family: 'Rubik',
  sans-serif;

  border: 1.3px solid #ea5455;
  width: 50%;
  padding: 10px 30px;
  text-decoration: none;
  font-size: 14px;
  border-radius: 4px;
  color: #ea5455;
}

.contactLink :hover {
  background: #e5e5e507;
  color: #e5e5e5;
}
.footer {
  position: fixed;
}

footer p {
  left: 0;
  bottom: 0;
  font-size: 11px;
  justify-content: center;
  color: rgba(220, 220, 250, 0.658);
}

@media screen and (max-width: 625px) {
.contact-section {
  height: 100vh;
}
  .contactInfo p {
    margin: 10px 20px;
  }

  .contactInfo {
    min-height: calc(100vh - 42px);
  }
}