body {
  margin: 0;
  padding: 0;
  font-family: 'lato', sans-serif;
}

.navbar {
  background-color: rgb(6, 6, 10);
  box-shadow: 2px 2px 2px 0px rgb(6, 6, 10);
  /* border-bottom: 0.060px solid #EA5455; */

  width: 100vw;
  height: 50px;
  justify-content: space-between;
  /* font-size: 15px; */
  /* font-weight: bold; */
  position: fixed;
  /* display: none; */
}

.navbar a {
  font-size: 13px;
  text-decoration: none;

}

.navbar img {
  width: 130px;
  line-height: 200px;
  /* padding: 0 5px; */
  margin-left: 40px;
  cursor: pointer;
}

.logo-container img {
  padding-top: 20px;
}

.contact {
  font-weight: bold;
  border: 1.2px solid #EA5455;
  border-radius: 3px;
  margin-left: 10px;
  margin-right: 40px;
  padding: 10px 15px;
  color: #EA5455;
  cursor: pointer;
}

.contact a {
  margin: 10px;
}

.contact:hover {
  background: #d5494909;
}



.navbar .options {
  float: right;
  margin-right: 20px;
  display: inline-block;
  line-height: 53px;

}

.navbar .options .option {
  color: #E5E5E5;
  font-size: 13px;
  padding: 10px;
  cursor: pointer;
}

.options>.active {
  background-color: #EA5455;
  border-radius: 3px;
  padding: 15px 10px;
  transition: .5s;
}


@media (max-width: 768px) {

  options {
    visibility: visible;
  }
}

@media (max-width: 670px) {
  .navbar img {
    margin-left: 25px;
    width: 120px;
    padding-top: 20px;
  }

  .navbar .options {
    margin-right: 5px;
  }

  .navbar .options .option {
    font-size: 12px;
    /* margin-right: 1px; */
  }

  .navbar .contact {
    font-size: 10px;
    margin-right: 25px;
  }
}

@media (max-width: 560px) {

  .navbar img {
    width: 110px;
  }

  .option {
    font-size: 20px;
    /* text-align: center; */
    transition: all .5s;
  }


  .contact {
    /* display: block; */
  }

  .navbar .options {

    margin: 10px 0;
    line-height: 30px;
  }

  .navbar .contact {
    font-size: 12px;
    padding: 10px;
    /* border: none; */
  }


  .navbar .options .option {
    font-size: 12px;
    padding: 7px;
  }

  .navbar .options>.active {

    border-radius: 2px;
    color: #E5E5E5;
  }
}